[Unit]
Wants=docker.service
After=docker.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/docker start apirest
ExecStop=/usr/bin/docker stop apirest

[Install]
WantedBy=multi-user.target
